*{
    margin: 0;
} 

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header{
  background: #a7ff03;
  margin: 0;
}

h1{
    height: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: #4f4f4f;
}

#botones-funcion{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 20px;
}

#botones-accion{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 20px;
}

h3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5vh;
    display: flex;
    align-items: center;
}

#datos-empleado{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #000000;
}

#columnas-empleado{
    display: grid;
    grid-template-columns: 40vh 40vh 40vh;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-right: 10vh;
    margin-left: 10vh;
    
}

#columna-puestos{
    margin-left: 10vh;
}

#botones-acep-can{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 10vh;
}

p{
    margin-bottom: 20px;
    margin-left: 10px;
}

#datos-puesto{
    margin-left: 10vh;
    margin-right: 10vh;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #000000;
}

#ingresar-datos-puesto{
    display: none;
}


#boton-empleados, #boton-puestos{
    width: 108px;
    height: 34px;
    border-radius: 5px;
    background-color: #000000;
    color:white;
    font-weight: bold;
}

#boton-agregar{
    width: 108px;
    height: 34px;
    border-radius: 5px;
    background-color: #1dcaff;
    font-weight: bold;
    /*font-family: 'Fredoka One', cursive; */
}

#boton-modificar{
    width: 108px;
    height: 34px;
    border-radius: 5px;
    background-color: #e2df1d;
    font-weight: bold;
    /*font-family: 'Fredoka One', cursive; */
}

#boton-baja{
    width: 108px;
    height: 34px;
    border-radius: 5px;
    background-color: #fe8716;
    font-weight: bold;
    /*font-family: 'Fredoka One', cursive; */
}

input{
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0.2, 0.2, 0.2, 0.2);} 

#boton-aceptar{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #a7ff03;
    /*font-family: 'Fredoka One', cursive; */
}

#boton-cancelar{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #d00303;
    /*font-family: 'Fredoka One', cursive; */
}

/* table,th,td{
    background-color: #d00303;
    border: 1px solid;
    border-collapse: collapse;
} */

